#about{
height: calc(100vh - 4rem);
width: 100vw;
margin: o auto;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.image{
    height: 500px;
    width: 500px;
}
.introContent{
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.intoText{
    color: aqua;
}
.aboutMe{
    font-size: 1.5rem;
    font-weight: 100;

}
.photo{
    display: flex;
    justify-content: center;

}